@import '../../../../../assets/styles-api.scss';

.main-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__text {
    p {
      animation: fadeInOut 1.5s infinite;
      font-size: 1vw;
    }
  }
}
