$color-advice: #66beef;
$color-advice25: #7a9fd8;
$color-black: #000;
$color-dark: #000a12;
$color-ko: #e04545;
$color-light: #282828;
$color-light25: #393939;
$color-ok: #45e075;
$color-primary: #1f1f1f;
$color-warn: #e08345;
$color-white: #fff;
$color-lightgrey: #d3d3d3;
