@import './assets/styles-api.scss';

body {
  background-color: $color-primary;
  background-image: url('./assets/jpeg/bgTw.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-white;
  font-family: Comfortaa, sans-serif;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('./assets/fonts/comfortaa/Comfortaa-VariableFontwght.eot');
  src: url('./assets/fonts/comfortaa/Comfortaa-VariableFontwght.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/comfortaa/Comfortaa-VariableFontwght.woff2')
      format('woff2'),
    url('./assets/fonts/comfortaa/Comfortaa-VariableFontwght.woff')
      format('woff'),
    url('./assets/fonts/comfortaa/Comfortaa-VariableFontwght.ttf')
      format('truetype');
  font-weight: 400;
  font-style: normal;
}
